/*
Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax
base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401
*/
.hljs {
  color: #383a42;
  background: #fafafa;
}
.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}
.hljs-literal {
  color: #0184bb;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #50a14f;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #c18401;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
.article {
  margin: 0 auto;
  font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  color: #555;
  line-height: 2;
}
.article img {
  max-width: 100%;
  margin: 0 auto 25px;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid #ddd;
}
.article pre,
.article code {
  font-family: consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', monospace;
}
.article code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: #ff502c;
  background: #fff5f5;
  border-radius: 3px;
  font-size: 13px;
}
.article pre {
  padding: 10px;
  overflow: auto;
  margin: 20px 0;
  font-size: 13px;
  color: #4d4d4c;
  background: #f7f7f7;
  line-height: 1.6;
}
.article pre code {
  padding: 0;
  color: #555;
  background: none;
  text-shadow: none;
  font-family: consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', monospace;
}
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin: 20px 0 15px 0;
  padding-top: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.5;
  font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  color: #555;
}
.article h2 {
  font-size: 1.4em;
}
.article h3 {
  font-size: 1.3em;
  border-bottom: 1px dotted #eee;
}
.article h4 {
  font-size: 1.2em;
}
.article ul {
  padding-left: 20px;
}
.article ul li {
  line-height: 2;
  list-style: circle;
}
.article .hljs-comment,
.article .hljs-quote {
  color: #575f6a;
}
.article blockquote {
  margin: 1em 0;
  border-left: 4px solid #ddd;
  padding: 0 1em;
  color: #666;
}
.article blockquote p {
  margin: 0.5em 0;
  line-height: 1.7em;
}
.article table {
  font-size: 0.8em;
  max-width: 100%;
  overflow: auto;
  border: 1px solid #f6f6f6;
  border-collapse: collapse;
  border-spacing: 0;
}
.article table thead {
  background: #f6f6f6;
  color: #000;
  text-align: left;
}
.article table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.article table tr:nth-child(2n) {
  background-color: #fcfcfc;
}
.article table th {
  padding: 0.8em 0.5em;
  line-height: 1.5em;
}
.article table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.article table tbody td {
  min-width: 7.5em;
  padding: 0.8em 0.5em;
  line-height: 1.5em;
}
.article ol {
  list-style: decimal;
  margin: 5px 0 5px 15px;
}
